polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec") {
        if (subject.isInGroup("wheel")) {
            return polkit.Result.AUTH_ADMIN_KEEP;
        }
    }
});
