[Desktop Entry]
Type=Application
Version=1.0
Name=Force Reset Waydroid
Comment=Force Reset Waydroid
Exec='/usr/libexec/waydroid-utils-reset'
Terminal=true
Icon=waydroid
Categories=X-WayDroid-App;
