[Desktop Entry]
Type=Application
Version=1.0
Name=Force Stop Waydroid
Comment=Force Stop Waydroid
Exec='/usr/libexec/waydroid-utils-stop'
Terminal=true
Icon=waydroid
Categories=X-WayDroid-App;
