[Desktop Entry]
Type=Application
Name=Toggle Automatic Updates
Comment=Toggle the Automatic System Updates
Exec=/usr/bin/ujust toggle-updates
Icon=action-unavailable-symbolic
Categories=ConsoleOnly;System;
Terminal=true
